* {
    margin:0;
    padding:0;
    box-sizing: border-box
}
body{
    background-color: hsl(0, 0%, 95%);
 font-size: 15px;
    
}
main{
    
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row;
    margin: auto;
 

}
.tr{
    background-color:  hsl(31, 77%, 52%);
    padding: 2em;
    width: 100%;
      color: white;

    
    
}
.gr{
    background-color:  hsl(184, 100%, 22%);
    padding: 2em;
    width: 100%;
      color: white;

}
.fr{
    background-color:  hsl(179, 100%, 13%);
    padding: 2em;
    width: 100%;
      color: white;

}
@media screen and (max-width: 375px) and (min-width: 200px){
  .mr{


    display: flex;
    justify-content: left;
    
    flex-direction: column;
    margin: auto;
    padding: 20px;
    background-color: hsl(0, 0%, 95%);

}
}
@media screen and (max-width: 1440px) and (min-width: 375px){
  .mr{


    display: flex;
    justify-content: left;
    
    flex-direction: column;
    margin: auto;
    padding: 20px;
    

}
}
.mr{


    display: flex;
    justify-content: center;
    
    flex-direction: row;
    margin: auto;
    padding: 20px;

}
.gm{
  padding-top: 20px;
  padding-bottom: 40px;
  color: hsla(0, 0%, 100%, 0.75);
}
#ko{
    
 background-color:   hsl(179, 100%, 13%);
 

 
border-radius: 20px;
border-color: hsl(0, 0%, 95%);

padding-bottom: 10px;

color: hsl(0, 0%, 95%);
padding-top: 10px;
width: 70%;
text-align: center;
border-width: 2px;


}
#ty{
    
 background-color:   hsl(31, 77%, 52%);
 
border-radius: 20px;
border-color: hsl(0, 0%, 95%);

padding-bottom: 10px;

color: hsl(0, 0%, 95%);
padding-top: 10px;
width: 70%;
text-align: center;
border-width: 2px;


}
#ok{
    

 background-color:  hsl(184, 100%, 22%);
    

 
border-radius: 20px;
border-color: hsl(0, 0%, 95%);

padding-bottom: 10px;

color: hsl(0, 0%, 95%);
padding-top: 10px;
width: 70%;
text-align: center;
border-width: 2px;



}
h2{
    padding: 20px 30px 20px 5px;
  color:   hsl(0, 0%, 95%);
}

