* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Quicksand', Sans-Serif;
}

body {
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-color: #000;
}

/*body :: after {
    background: linear-gradient( #000, #0f0, #000);
animation: animate 5s linear infinite;
}*/

section {
position: absolute;
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;

align-items: center;
gap: 2px;
flex-wrap: wrap;
overflow: hidden;
}

section::before {
content: "";


position: absolute;
width: 100%;
height: 100%;
background: linear-gradient(#000,#0f0,#000);
animation: animate 5s linear infinite;
}

@keyframes animate {
0% {
transform: translateY(-100%);
}


100%
{

transform: translateY(-100%);

}


}


section .sign-content {
display: flex;

justify-content: center;


align-items: center;
width: 400px;
position: absolute;
background-color: #222;
z-index: 1000;
padding: 40px;

border-radius: 4px;
}



section span {
position: relative;
display: block;
height: calc(6.25vw - 2px);
z-index: 2;
background: #181818;

width: calc(6.25vw - 2px);
transition: 1.5s ;
}

section span:hover{
    background: #0f0;
    transition: 0s;
}
h2 {
padding: 25px;

positon: absolute;
top: 0;
font: 2em;
color: #0f0;
text-transform: uppercase;
}


.beetle {
width: 100%;
display: flex;
flex-direction: column;
gap: 25px;
}


.inputbx {
position: relative;
width: 100%;
}

input {

position: relative;

width: 100%;

background: #333;
/*   border:none;*/
border-color: green;
border-width: 2px;
outline: none;
padding: 25px 10px 7.5px;
border-radius: 4px;
color: #fff;
font-weight: 500;
font-size: 1em;
}

i {
position: absolute;
left: 0;
padding: 15px 10px;
font-style: normal;
color: #aaa;
transition: 0.5s;
pointer-events: none;
}

section .sign-content .beetle .inputbx input:focus~i {
transform: translateY(-7.5px);
font-size: 0.8em;
color: #fff;
}
.links {
text-decoration: none;
display: flex;
flex-direction: row;
}

.links:nth-child(3) {
color: #0f0;
font: 1em;
}

input[type="submit"]
{
padding: 10px;
background: #0f0;
color: #111;
font-weight: 600;
font-size: 1.25em;
letter-spacing: 0.05em;

cursor: pointer;
}


@media (max-width:900px) {
    
    section span {
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
}

}

@media (max-width:600px) {
    
    section span {
    width: calc(20vw - 2px);
    height: calc(20vw - 2px);
}

}